<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spdata.em55">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <uses-permission
        android:name="android.hardware.usb.host"
        android:required="false" />

    <application
        android:name=".px.print.utils.ApplicationContext"
        android:allowBackup="true"
        android:icon="@drawable/log"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MenuAct"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lr.GpsAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lr.TemperatureAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".px.fingerprint.FingerPrintAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".px.ID2.ID2Act"
            android:screenOrientation="portrait" />
        <activity
            android:name=".px.psam.PsamAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".px.print.print.demo.firstview.ConnectAvtivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".px.print.print.demo.printview.TextFirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".px.print.print.demo.printview.TextSecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".px.print.print.demo.printview.TextTabsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".px.print.print.demo.printview.TextThirdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".px.print.print.demo.printview.GraphicThirdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".px.print.print.demo.printview.GraphicSecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".px.print.print.demo.printview.GraphicFirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".px.print.print.demo.printview.GraphicTabsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".px.print.utils.LinkContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".px.print.print.demo.secondview.PrintModeActivity"
            android:screenOrientation="portrait" />
        <!--
          ATTENTION: This was auto-generated to add Google Play services to your project for
          App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".gxandurx.UhfAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lr.DistanceAct"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".gxandurx.ReadActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>